@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #000000;
}

.header{
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    padding-top: 30px;
    height: 190px;
    width: 200px;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #ffffff5e;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #6526cc88;
    font-size: (1,2);
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #ffffff5e;
    padding: 9px 25px;
    background: #c2d0d893;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #6526cc88;
    transform: scale(1.1);
}

h1 {
    color: white;
    font-size: xx-large;
    padding-top: 100px;
    padding-left: 40px;
}

p {
    color: white;
    padding-left: 10px;
}

button {
    size: 10px;
}

.logo2{
    cursor: pointer;
    border: 5px solid rgb(rgb(252, 255, 252));

}

.logo2 img{
    height: 450;
    width: 250px;
    transition: all 0.3s;
    border-radius: 50%;
    backface-visibility: hidden;

}

.logo2 img:hover{
    transform: rotate(360deg);
    transition: 1.5s;
    backface-visibility: visible;

}
